body {
    Font-family: Georgia, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.chart-container {
    height: 200px;
    width: 100%;
}

@media only screen and (orientation: landscape) and (max-device-width: 1200px) {
    .chart-container {
        width: 600px;
    }
}

@media only screen and (min-device-width: 1200px) {
    .chart-container {
        height: 250px;
        width: 900px;
    }
}
